body {
  background: #212121;
  display: grid;
  place-items: center;
}

.result {
  display: grid;
  place-items: center;
}

.card {
  width: 1350px;
  height: 600px;
  transition: all 0.2s;
  position: relative;
  cursor:text
}

.card-inner {
  width: inherit;
  height: inherit;
  background: rgba(255,255,255,.05);
  box-shadow: 0 0 10px rgba(0,0,0,0.25);
  backdrop-filter: blur(10px);
  border-radius: 8px;
}

.circle {
  width: 100px;
  height: 100px;
  background: radial-gradient(#2b76d8, #228cac);
  border-radius: 50%;
  position: absolute;
  animation: move-up6 2s ease-in infinite alternate-reverse;
}

.circle:nth-child(1) {
  top: -25px;
  left: -25px;
}

.circle:nth-child(2) {
  bottom: -25px;
  right: -25px;
  animation-name: move-down1;
}

@keyframes move-up6 {
  to {
    transform: translateY(-10px);
  }
}

@keyframes move-down1 {
  to {
    transform: translateY(10px);
  }
}

.input {
  max-width: 600px;
  border: none;
  outline: none;
  background: none;
  font-size: 14px;
  color: #fff;
  padding: 15px 5px 10px 20px;
  box-shadow: inset 8px 8px 8px #1e1e1f,
              inset -8px -8px 8px #2e2d2d;
  border-radius: 8px;
  border: solid 1px #555;
}

.input::placeholder {
  color: #696969;
  transition: all 0.3s ease;
}

.input:focus::placeholder {
  color: #999;
}

.data {
  margin: 20px;
  padding: 20px;
  display: grid;
  align-items: center;
  width: 1000px;
  height: inherit;
  background: rgba(43, 41, 41, 0.05);
  box-shadow: 0 0 10px rgba(0,0,0,0.25);
  backdrop-filter: blur(10px);
  border-radius: 8px;
}

.inputs {
  display: inline;
  text-align: center; 
  vertical-align: middle;
}

.inputs input {
  margin: 10px 0 10px 20px;
  width: 400px;
  text-align: center;
}

