* {
  font-family: 'Arial', sans-serif;
}

body {
  margin: 0;
  background: #212121;
  display: grid;
  justify-items: center;
  place-items: center;
  width: 100%;
  height: 100%;
}

.container {
  margin: 50px;
  width: 1300px;
  height: 700px;
  display: grid;
  justify-items: center;
}

.card {
  width: 100%;
  height: 100%;
  transition: all 0.2s;
  position: relative;
}

.card-inner {
  width: inherit;
  height: inherit;
  display: grid;
  justify-items: center;
  background: rgba(255,255,255,.05);
  box-shadow: 0 0 10px rgba(0,0,0,0.25);
  backdrop-filter: blur(90px);
  border-radius: 8px;
}

.circle {
  width: 100px;
  height: 100px;
  background: radial-gradient(#2b76d8, #2b76d8);
  border-radius: 50%;
  position: absolute;
  animation: move-up6 2s ease-in infinite alternate-reverse;
}

.circle:nth-child(1) {
  top: -25px;
  left: -25px;
}

.circle:nth-child(2) {
  bottom: -25px;
  right: -25px;
  animation-name: move-down1;
}

@keyframes move-up6 {
  to {
    transform: translateY(-10px);
  }
}

@keyframes move-down1 {
  to {
    transform: translateY(10px);
  }
}

.input {
  max-width: 750px;
  height: 15%;
  border: none;
  outline: none;
  background: none;
  font-size: 18px;
  color: #fff;
  padding: 15px 5px 10px 20px;
  box-shadow: inset 8px 8px 8px #1e1e1f,
              inset -8px -8px 8px #2e2d2d;
  border-radius: 8px;
  border: solid 1px #555;
}

.input::placeholder {
  color: #696969;
  transition: all 0.3s ease;
}

.input:focus::placeholder {
  color: #999;
}

.inputs {
  width: 100%;
  height: 70%;
  margin: 5%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.inputs input {
  margin: 10px 0 10px 20px;
  width: 100%;
  text-align: center;
}

.inputs input:hover {
  box-shadow: 0 0 0 .15vw rgba(135, 207, 235, 0.186);
}

.inputs input:focus {
  box-shadow: 0 0 0 .15vw skyblue;
}
.selects {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.select {
  margin: 10px 0 10px 20px;
  width: 30%;
  background: none;
  color: #fff;
  font-size: 14px;
  text-align: center;
  padding: 10px;
  border: solid 1px #555;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0,0,0,0.25);
}

.select:hover {
  box-shadow: 0 0 0 .15vw rgba(135, 207, 235, 0.186);
}

.select:focus {
  box-shadow: 0 0 0 .15vw skyblue;
}

.select option {
  background-color: #1e1e1f;
}

.check {
  cursor: pointer;
  position: relative;
  -webkit-tap-highlight-color: transparent;
  transform: translate3d(0, 0, 0);
}

.check:before {
  content: "";
  border-radius: 50%;
  background: rgba(34,50,84,0.03);
  opacity: 0;
  transition: opacity 0.2s ease;
}

.check svg {
  z-index: 1;
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke: #c8ccd4;
  stroke-width: 1.5;
  transform: translate3d(0, 0, 0);
  transition: all 0.2s ease;
}

.check svg path {
  stroke-dasharray: 60;
  stroke-dashoffset: 0;
}

.check svg polyline {
  stroke-dasharray: 22;
  stroke-dashoffset: 66;
}

.check:hover:before {
  opacity: 1;
}

.check:hover svg {
  stroke: #4285f4;
}

#cbx:checked + .check svg {
  stroke: #4285f4;
}

#cbx:checked + .check svg path {
  stroke-dashoffset: 60;
  transition: all 0.3s linear;
}

#cbx:checked + .check svg polyline {
  stroke-dashoffset: 42;
  transition: all 0.2s linear;
  transition-delay: 0.15s;
}

.container-select {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.container-select p {
  font-size: 13px;
  color: #fff;
  margin: 0.3px;
  padding: 2px;
}

.buttons {
  display: grid;
  justify-items: center;
  width: 100%;
}

.button {
  margin: 12px;
  height: 60%;
  width: 70%;
  border-radius: 10px;
  background: #333;
  justify-content: center;
  align-items: center;
  box-shadow: -5px -5px 15px #444, 5px 5px 15px #222, inset 5px 5px 10px #444, inset -5px -5px 10px #222;
  font-family: 'Damion', cursive;
  border: none;
  font-size: 16px;
  font-weight: bolder;
  color: rgb(161, 161, 161);
  transition: 500ms;
}

.button:hover {
  box-shadow: -5px -5px 15px #444, 5px 5px 15px #222, inset 5px 5px 10px #222, inset -5px -5px 10px #444;
  color: #d6d6d6;
  transition: 500ms;
}
 